<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona viajes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <div class="d-flex bg-secondary">
        <div class="w-50 titulo d-flex">
            <h2 class="tit1">Zona </h2><h2 class="tit2">Viajes</h2>
        </div>
        <div class="d-flex p-4 justify-content-end w-50">
            <div class="p-2 bg-secondary">
                <a href="../Template/contacto.html" class="link_menu">Contacto</a>
            </div>
            <div class="p-2 bg-secondary">
                <a href="../Template/perfil.html" class="link_menu">Perfil</a>
            </div>
            <div class="p-2 bg-secondary">
                <a href="../Template/contacto.html" class="link_menu">Inicio</a>
            </div>
        </div>
    </div>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner carrusel">
          <div class="carousel-item active">
            <img src="../Img/España.jpg" alt="España" class="d-block" style="width:100%">
            <div class="carousel-caption d-none d-md-block">
                <h5>España</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../Img/Portugal.jpg" alt="Portugal" class="d-block" style="width:100%">
            <div class="carousel-caption d-none d-md-block">
                <h5>Portugal</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../Img/playa del carmen.jpg" alt="Playa_del_carmen" class="d-block" style="width:100%">
            <div class="carousel-caption d-none d-md-block">
                <h5>Mexico</h5>
            </div> 
        </div>
        </div>
        
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <footer>
        <div class="d-flex contacto m-2">
            <ul class="listaContacto">
                <h4>Contacto</h4>
                <li class="lista">• Teléfono: +123 456 7890</li>
                <li class="lista">
                    •Correo Electrónico: 
                    <a class="linkMail" href="mailto:info@ZonaViajes.com">info@ZonaViajes.com</a>
                  </li>
                <li class="lista">• Avenida de los Viajeros 123, Ciudad de las Aventuras, País</li>
            </ul>
        </div>
    </footer>
</body>
<script src="../Js/index.js"></script>
</html>