<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <div class="d-flex bg-secondary">
        <div class="w-50 titulo d-flex">
            <h2 class="tit1">Zona </h2><h2 class="tit2">Viajes</h2>
        </div>
        <div class="d-flex p-4 justify-content-end w-50">
            <div class="p-2 bg-secondary">
                <a href="./contacto.html" class="link_menu">Contacto</a>
            </div>
            <div class="p-2 bg-secondary">
                <a href="./perfil.html" class="link_menu">Perfil</a>
            </div>
            <div class="p-2 bg-secondary">
                <a href="./index.html" class="link_menu">Inicio</a>
            </div>
        </div>
    </div>
    <div class="d-flex bg-secondary m-2 contenedorPerfil">
        <div class="contenedorImg m-3">
            <img src="../Img/Avion.jfif" class="rounded imgPerfil" alt="Cinque Terre">
        </div>
        <div class="parrafoPerfil mt-5">
            <div class="d-flex tituloPerfil">
                <h2 class="tit1">Zona </h2><h2 class="tit2">Viajes</h2>
            </div>
            <p>Zona Viajes es una empresa dedicada a proporcionar experiencias de viaje únicas e inolvidables. Con más de 10 años en la industria, nos especializamos en crear paquetes turísticos personalizados que se adaptan a los intereses y necesidades de cada cliente. Desde escapadas románticas hasta aventuras extremas, nuestro objetivo es hacer realidad los sueños de viaje de nuestros clientes.</p>
            <h3 class="tit2">Servicios</h3>
            <ul>
                <li>Paquetes Turísticos Personalizados: Diseñamos itinerarios a medida para adaptarse a los intereses y preferencias de nuestros clientes.</li>
                <li>Excursiones y Tours Guiados: Ofrecemos una amplia variedad de tours guiados por expertos locales en diferentes destinos.</li>
                <li>Reservas de Vuelos y Alojamiento: Gestionamos todas las necesidades de transporte y alojamiento para una experiencia de viaje sin estrés.</li>
                <li>Viajes de Aventura: Organizamos actividades de aventura como senderismo, buceo, esquí y más.</li>
                <li>Luna de Miel y Viajes Románticos: Creemos experiencias mágicas para parejas en destinos exóticos.</li>
            </ul>
        </div>
    </div>
    <div class="d-flex contacto m-2">
        <ul class="listaContacto">
            <h4>Contacto</h4>
            <li class="lista">• Teléfono: +123 456 7890</li>
            <li class="lista">
                •Correo Electrónico: 
                <a href="mailto:info@ZonaViajes.com">info@ZonaViajes.com</a>
              </li>
              
            <li class="lista">• Avenida de los Viajeros 123, Ciudad de las Aventuras, País</li>
        </ul>
    </div>
</body>
</html>