*{
  padding: 0;
  margin: 0;  
}
body{
    height: 100%;
}
.link_menu{
    text-decoration: none;
    color: white;
}
a:hover {
    color: #48484f;
    cursor: pointer;
  }
.tit2{
    color: #ff9f39;
}
.carrusel{
    padding: 1em;
    justify-content: center;
    height: 40em;
}
img{
    height: 600px;
    margin: 0em;
}
.titulo{
    color: white;
    padding: 1em;
    margin-left: 4em;
}
.imgPerfil{
    width: 200px;
    height: 200px;
}
.contenedorPerfil{
    height: 600px;
    text-align: center;
}
.tituloPerfil{
    justify-content: center;
}
.parrafoPerfil{
    color: white;
}

ul{
    list-style: none;
}
.listaContacto{
    margin-right: 50px;
}
.lista{
    margin: 10px;
}
.contacto{
    justify-content:center;
    background-color: #ff9f39;
    color: white;
    height: 130px;
}
.linkMail{
    text-decoration: none;
    color: white;
}
.contenedorContacto{
    color: white;
    justify-content: center;
}
.botonConsulta{
    background-color: #ff9f39;
    color: white;

}
.botonConsulta:hover{
    border: 2px solid #ff9f39 ;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }