*{
  padding: 0;
  margin: 0;  
}

.link_menu{
    text-decoration: none;
    color: white;
}
a:hover {
    color: #48484f;
    cursor: pointer;
  }
.tit2{
    color: #ff9f39;
}
.carrusel{
    padding: 1em;
    justify-content: center;
    height: 40em;
}
img{
    height: 600px;
    margin: 0em;
}
.titulo{
    color: white;
    padding: 1em;
    margin-left: 4em;
}
.imgPerfil{
    width: 200px;
    height: 200px;
}
.contenedorPerfil{
    height: 600px;
    text-align: center;
}
.tituloPerfil{
    justify-content: center;
}
.parrafoPerfil{
    color: white;
}

ul{
    list-style: none;
}
.listaContacto{
    margin-right: 50px;
}
.lista{
    margin: 10px;
}
.contacto{
    justify-content:center;
    background-color: #ff9f39;
    color: white;
    height: 220px;
}

.contenedorContacto{
    color: white;
}